<% if user_signed_in? %>
  <div class="page-header">

    <h1>Welcome to Flor Blanca Pictures</h1>
      <p>Hello. Any new pictures?</p>
  </div>
<% else %>  

  <div class="page-header">

    <h1>Flor Blanca Family Pictures</h1>
    <p>Join to share family pictures.</p>
    <p><%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-md" %></p>
  </div>
<% end %> 
<div id="pins">
  <%= render @pins %>
</div>  
