<style type="text/css">
.box {
  padding: 5px;
  margin: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 270px;
}

.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;

}
</style>



<% if user_signed_in? %>
  <div class="page-header">

    <h1>Welcome to Flor Blanca Pictures</h1>
      <p>Hello. Any new pictures?</p>
  </div>
<% else %>  

  <div class="page-header">

    <h1>Flor Blanca Family Pictures</h1>
    <p>Join to share family pictures.</p>
    <p><%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-md" %></p>
  </div>
<% end %> 
<div id="pins">
  <%= render @pins %>
</div>  

<%= will_paginate @pins %>
